body{
    padding: 0em;
    margin: 0em auto;
    box-sizing: border-box; 
    background-color: #302a2a;
    font-family: 'JetBrains Mono', monospace;
}
.parrafos{    
    width: 60%;    
    padding: 1em;
    float: left;
    margin: 0em auto;    
    text-align: justify;    
}
.parrafos > h1,h2,h3,h4{
    color: orange;
    text-decoration: underline;    
}
.parrafos  p{    
    padding-left: .4em;
    padding-right: .4em;
    padding-bottom: .4em;    
    color:rgb(117, 200, 255);
}
.parrafos span{
    color: orange;
}
table{    
    padding: 1em;
    margin: 0em auto;        
    border-radius: 4px;
    text-align: center;
    vertical-align: center;
    box-shadow: 1px 1px 1px 4px darkgray;
}
figcaption, caption, tfoot{  
    color:orange;  
    font-size: 9px;    
    font-weight: bold;       
    font-style: italic;    
}
thead td {   
    color: orange;
    font-size: 14px;            
    background-color: #302a2a;
    border-radius: 5px 5px 0px 0px;
}
tbody td{    
    padding: .2em;
    font-size: 12px;   
    color:rgb(144, 231, 178);
}
tbody tr:nth-child(odd){
    background-color: #696565;    
}
tbody tr:nth-child(even){
    background-color:#383636;
}
ul{
    padding: 0;
    width: 75%;
    margin: 0em auto;
    
    font-size: 14px;       
    list-style:circle;         
    color:rgb(144, 231, 178);            
}
li{
    padding-left: 2em;
}
ul h4{
    color: orange;        
    text-align: left;
    padding-top: .3em;   
    display: inline; 
}
blockquote{
    
    border-radius: 4px;
    box-shadow: 1px 1px 1px 4px darkgray;
}
.citaTexto p, ul > li{    
    padding: .4em 0em;    
}
blockquote[class*="cita"]{
    width: 85%;
    padding: 0em;
    margin: 0em auto;
    font-size: 12px;
    text-align: justify;        
}
blockquote[class*="cita"] > h4, blockquote[class*="cita"] span{
    padding-top: .3em;    
    color: orange;
}
blockquote[class*="cita"] > p{    
    color:rgb(144, 231, 178);
    padding: .8em;  
}
.parrafoConSeparador{
    padding: 0.2em;
    border-bottom: 2px dashed rgb(144, 231, 178);;
}
figure{
    text-align: center;
    padding: 0em;
    margin: 0em auto;
}