body{    
    margin: 0em;
    padding: 0em;            
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-repeat: no;

    

    background-image: url("/Setmana_8/teoria/img/fondoCuadros.png");
}
h1,h2,h3,p{
    padding: .3em;
}
h1, h2{    
    text-decoration: underline;
}
h1{
    text-align: center;
}
em{   
    font-weight: bold;
    font-style: normal;
}
main{
    width: 80%;
    padding: .1em;
    margin: 0em auto;
    background-color: #ffffff;
    
    
}
section{
    text-align: justify;
}
section > p{
    padding: 0em .4em;
}
table{    
    width: 75%;
    padding: 1em;
    margin: 0em auto;
    text-align: left;
    vertical-align: center;
    border: 1px solid black;
    box-shadow: -2px 2px black;
}
figcaption, caption, tfoot{
    padding: 0em;
    margin: 0em auto;
    width: 60%;
    font-size: 9px;    
    font-weight: bold;       
    font-style: italic;    
    background-color: yellow;
}
tbody td{    
    padding: .5em;
    font-size: 12px;
    border-bottom: 1px dotted black;
}
ul{
    padding: 0;
    width: 75%;
    margin: 0em auto;

    font-size: 14px;
    list-style-type: none;
    border: 1px solid black;
    background-color: #EFEFEF;
    box-shadow: -2px 2px black;
}
ul > li::before{
    content: "> ";
    font-weight: bold;    
}
li{
    padding: .7em;    
}
figure{    
    padding: 0em;
    margin: 0em auto;
    text-align: center;
}
img{
    width:60%;
}
blockquote[class^="bloque"] {    
    width: 60%;    
    margin: 0em auto;
    margin-top: 1em;
    margin-bottom: 0.5em;
    
    text-align: left;
    border: 1px solid black;
    background-color: #EFEFEF;
    box-shadow: -2px 2px black;    
}
.cajaTituloBloque{
    padding-top: 1em;
    margin: 0em auto;
    text-align: center;    
}
.cajaTituloBloque > h3{   
    width: 75%;
    padding: 0em;
    margin: 0em auto;
    background-color: yellow;    
}
blockquote[class*="bloque"] > p{
    padding-left: .8em;
    padding-right: .8em;
}
.bloqueCodigo{
    font-family: 'Courier New', Courier, monospace;    
}
.rojo{
    color: red;
}
.subrayadoFluorescente{
    background-color: yellow;
}
.gris{
    color:rgb(165, 157, 157);
}